<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>
        <% if(locals.user){ %>
        <%= locals.user.name %>的微博
        <% } else {%>
        <%= locals.title %>
        <% } %>
    </title>
    <link rel="icon" href="../images/me.ico" type="image/x-icon">
    <link rel='stylesheet' href='../stylesheets/bootstrap.css'>
    <link rel='stylesheet' href='../stylesheets/style.css'>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <!--<link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">-->
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">我的微博</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="/"> 首页</a></li>
                    <% if (!locals.user) { %>
                    <li><a href="/login">登入</a></li>
                    <li><a href="/reg"> 注册</a></li>
                    <% } else { %>
                    <li><a href="/u/<%= locals.user.name %>">发现</a></li>
                    <li><a href="/book">  图书</a></li>
                    <li><a href="/analyse">  分析</a></li>
                    <li><a href="/logout">  登出</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="container" class="container">
    <% if (success) { %>
    <div class="alert alert-success">
        <%= success %>
    </div>
    <% } %>
    <% if (error) { %>
    <div class="alert alert-error">
        <%= error %>
    </div>
    <% } %>
    <%- locals.body %> 
</div>
<!--<div>-->
    <!--<footer >-->
        <!--<p><a href="http://github.com/MullerToSuccess" target="_blank">贾柯</a> 2017</p>-->
    <!--</footer>-->
<!--</div>-->
<!--<footer class="footer">-->
    <!--<div class="container">-->
        <!--<p><a href="http://github.com/MullerToSuccess" target="_blank">贾柯</a> 2017</p>-->
    <!--</div>-->
<!--</footer>-->
</body>
<!--<script src="/javascripts/jquery.js"></script>-->
<script src="/javascripts/bootstrap.js"></script>
</html>